[submodule "src/waveshare_servos"]
	path = src/waveshare_servos
	url = https://github.com/htchr/waveshare_servos
[submodule "src/lekiwi_description"]
	path = src/lekiwi_description
	url = https://github.com/teknoman117/lekiwi_description
[submodule "src/so101_description"]
	path = src/so101_description
	url = https://github.com/teknoman117/so101_description
[submodule "src/lekiwi_bringup"]
	path = src/lekiwi_bringup
	url = https://github.com/teknoman117/lekiwi_bringup
[submodule "src/lekiwi_teleop"]
	path = src/lekiwi_teleop
	url = https://github.com/teknoman117/lekiwi_teleop
[submodule "src/lekiwi_moveit_config"]
	path = src/lekiwi_moveit_config
	url = https://github.com/teknoman117/lekiwi_moveit_config
[submodule "src/so101_moveit_config"]
	path = src/so101_moveit_config
	url = https://github.com/teknoman117/so101_moveit_config
