[submodule "src/waveshare_servos"]
	path = src/waveshare_servos
	url = https://github.com/htchr/waveshare_servos
[submodule "src/lekiwi_description"]
	path = src/lekiwi_description
	url = https://github.com/teknoman117/lekiwi_description
[submodule "src/so101_description"]
	path = src/so101_description
	url = https://github.com/teknoman117/so101_description
[submodule "src/lekiwi_bringup"]
	path = src/lekiwi_bringup
	url = https://github.com/teknoman117/lekiwi_bringup
